packages:
  yum:
    python3-devel: []
    gcc: []
    gcc-c++: []
    make: []
    libffi-devel: []
    openssl-devel: []
    freetype-devel: []
    libpng-devel: []
    zlib-devel: []
    bzip2-devel: []
    readline-devel: []
    sqlite-devel: []
    ncurses-devel: []
    libxml2-devel: []
    libxslt-devel: []
    libyaml-devel: []
    libcurl-devel: []
    wget: []
    unzip: []
    git: [] 