container_commands:
  01_create_directories:
    command: |
      mkdir -p /var/app/current/uploads
      mkdir -p /var/app/current/datasets
      mkdir -p /var/app/current/misc
      mkdir -p /var/app/current/cache
      chmod 755 /var/app/current/uploads
      chmod 755 /var/app/current/datasets
      chmod 755 /var/app/current/misc
      chmod 755 /var/app/current/cache
  02_set_permissions:
    command: |
      chown -R webapp:webapp /var/app/current/uploads
      chown -R webapp:webapp /var/app/current/datasets
      chown -R webapp:webapp /var/app/current/misc
      chown -R webapp:webapp /var/app/current/cache
  03_install_capgenie:
    command: |
      cd /var/app/current/cap_genie_dist
      pip install -e .
      cd /var/app/current 